<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<h1>New Person</h1>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="pasport">Enter pasport: </label>
    <input type="text" th:field="*{pasport}" id="pasport"/>
    <div style="color:red" th:if="${#fields.hasErrors('pasport')}" th:errors="*{pasport}">pasport Error</div>
    <br/>
    <label for="adress">Enter adress: </label>
    <input type="text" th:field="*{adress}" id="adress"/>
    <div style="color:red" th:if="${#fields.hasErrors('adress')}" th:errors="*{adress}">adress Error</div>
    <br/>
    <label for="phone">Enter phone: </label>
    <input type="text" th:field="*{phone}" id="phone"/>
    <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</div>
    <br/>
    <input type="submit" value="Create"/>
</form>

</body>
</html>